Web scraping premier league data to predict 24/25 winners

In [18]:
import pandas as pd # Importing necessary libraries for web scraping
import requests
from bs4 import BeautifulSoup

In [19]:
url_start = "https://fbref.com/en/comps/9/{}-{}/{}-{}-Premier-League-Stats"

years = list(range(2009, 2024))

In [21]:
from selenium import webdriver
import time
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options)

for year in years:
    url = url_start.format(year, year+1, year, year+1)
    driver.get(url)
    driver.execute_script("window.scrollTo(1, 10000)")
    time.sleep(2)

    html = driver.page_source
    with open("plstats/{}.html".format(year), "w+") as f:
        f.write(html)

In [28]:
df = []
for year in years:
    with open("plstats/{}.html".format(year), "r") as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="over_header").decompose()
    stats_table = soup.find(id="all_stats_squads_standard")
    stats = pd.read_html(str(stats_table))[0]
    stats["Year"] = year
    df.append(stats)

In [32]:
teams = pd.concat(df)
teams

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Arsenal                 30               25.3
1         Aston Villa                 23               27.9
2     Birmingham City                 25               26.8
3           Blackburn                 28               27.3
4              Bolton                 25               27.4
5             Burnley                 26               27.9
6             Chelsea                 30               28.7
7             Everton                 28               27.4
8              Fulham                 29               29.2
9           Hull City                 30               27.7
10          Liverpool                 30               26.3
11    Manchester City                 31               27.0
12     Manchester Utd                 30               27.8
13         Portsmouth                 33               28.2
14         Stoke City                 23               28.5
15         Sunderland                 28               25.4
16          Tottenham                 30               25.4
17           West Ham                 30               26.0
18     Wigan Athletic                 27               26.3
19             Wolves                 29               25.9
0             Arsenal                 27               24.8
1         Aston Villa                 32               27.5
2     Birmingham City                 26               28.0
3           Blackburn                 29               27.8
4           Blackpool                 30               26.8
5              Bolton                 24               28.1
6             Chelsea                 24               28.2
7             Everton                 24               28.1
8              Fulham                 29               29.8
9           Liverpool                 30               26.9
10    Manchester City                 27               25.4
11     Manchester Utd                 29               28.3
12      Newcastle Utd                 30               26.3
13         Stoke City                 25               27.6
14         Sunderland                 31               25.0
15          Tottenham                 28               26.6
16          West Brom                 28               26.7
17           West Ham                 35               27.9
18     Wigan Athletic                 25               25.8
19             Wolves                 30               25.8
0             Arsenal                 32               25.2
1         Aston Villa                 27               27.3
2           Blackburn                 31               25.5
3              Bolton                 30               27.4
4             Chelsea                 29               27.6
5             Everton                 30               28.5
6              Fulham                 28               29.6
7           Liverpool                 26               26.3
8     Manchester City                 24               25.8
9      Manchester Utd                 31               26.3

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                 NaN           38    418  3420  38.0          79  53  ...
1                 NaN           38    418  3420  38.0          48  34  ...
2                 NaN           38    418  3420  38.0          36  22  ...
3                 NaN           38    417  3420  38.0          38  22  ...
4                 NaN           38    418  3420  38.0          42  24  ...
5                 NaN           38    418  3420  38.0          42  25  ...
6                 NaN           38    418  3420  38.0          99  64  ...
7                 NaN           38    418  3420  38.0          56  33  ...
8                 NaN           38    418  3420  38.0          38  21  ...
9                 NaN           38    418  3420  38.0          33  16  ...
10                NaN           38    418  3420  38.0          58  37  ...
11                NaN           38    418  3420  38.0          73  48  ...
12                NaN           38    418  3420  38.0          74  48  ...
13                NaN           38    418  3420  38.0          34  19  ...
14                NaN           38    418  3420  38.0          32  23  ...
15                NaN           38    418  3420  38.0          45  28  ...
16                NaN           38    418  3420  38.0          66  45  ...
17                NaN           38    418  3420  38.0          46  27  ...
18                NaN           38    418  3420  38.0          36  21  ...
19                NaN           38    418  3420  38.0          28  15  ...
0                 NaN           38    418  3420  38.0          70  51  ...
1                 NaN           38    418  3420  38.0          45  32  ...
2                 NaN           38    418  3420  38.0          37  23  ...
3                 NaN           38    418  3420  38.0          43  28  ...
4                 NaN           38    418  3420  38.0          54  29  ...
5                 NaN           38    418  3420  38.0          50  34  ...
6                 NaN           38    418  3420  38.0          68  39  ...
7                 NaN           38    418  3420  38.0          50  33  ...
8                 NaN           38    418  3420  38.0          48  32  ...
9                 NaN           38    418  3420  38.0          58  30  ...
10                NaN           38    418  3420  38.0          56  35  ...
11                NaN           38    418  3420  38.0          75  59  ...
12                NaN           38    418  3420  38.0          55  35  ...
13                NaN           38    418  3420  38.0          44  28  ...
14                NaN           38    418  3420  38.0          41  23  ...
15                NaN           38    418  3420  38.0          54  34  ...
16                NaN           38    418  3420  38.0          52  37  ...
17                NaN           38    418  3420  38.0          41  21  ...
18                NaN           38    418  3420  38.0          37  20  ...
19                NaN           38    418  3420  38.0          45  29  ...
0                 NaN           38    418  3420  38.0          73  57  ...
1                 NaN           38    418  3420  38.0          37  26  ...
2                 NaN           38    418  3420  38.0          44  32  ...
3                 NaN           38    418  3420  38.0          43  29  ...
4                 NaN           38    418  3420  38.0          63  45  ...
5                 NaN           38    407  3420  38.0          47  32  ...
6                 NaN           38    418  3420  38.0          44  31  ...
7                 NaN           38    418  3420  38.0          42  23  ...
8                 NaN           38    418  3420  38.0          91  73  ...
9                 NaN           38    418  3420  38.0          87  69  ...

   Expected              Progression      Per 90 Minutes                  \
       npxG xAG npxG+xAG        PrgC PrgP             xG xAG xG+xAG npxG
0       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
1       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
2       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
3       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
4       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
5       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
6       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
7       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
8       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
9       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
10      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
11      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
12      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
13      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
14      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
15      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
16      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
17      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
18      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
19      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
0       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
1       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
2       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
3       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
4       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
5       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
6       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
7       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
8       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
9       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
10      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
11      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
12      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
13      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
14      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
15      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
16      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
17      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
18      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
19      NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
0       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
1       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
2       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
3       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
4       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
5       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
6       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
7       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
8       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN
9       NaN NaN      NaN         NaN  NaN            NaN NaN    NaN  NaN


   npxG+xAG
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN

[50 rows x 33 columns]